/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

/* 
.bg-success{
  background-color: blue;
} */


body{
  padding-top: 0px;

}

.bg-darkgreen{
  background-color: #0d1714;
}

.bg-lightgreen{
  background-color: #EEFCF9;
}

.btn-darkgreen{
  background-color: #006d77;

}

.font-bold{
  font-weight: 700;
}

.btn-darkgreen {
  color: #fff;
  background-color: #0d1714;
  border-color: #0d1714;
}

.btn-darkgreen:hover {
  color: #fff;
  background-color: #2b4d43;
  border-color: #2b4d43;
}

.btn-darkgreen:focus, .btn-darkgreen.focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 140, 90, 0.5);
}

.btn-darkgreen.disabled, .btn-darkgreen:disabled {
  color: #fff;
  background-color: #0d1714;
  border-color: #0d1714;
}

.btn-darkgreen:not(:disabled):not(.disabled):active, .btn-darkgreen:not(:disabled):not(.disabled).active, .show > .btn-darkgreen.dropdown-toggle {
  color: #fff;
  background-color: #18633f;
  border-color: #155637;
}

.btn-darkgreen:not(:disabled):not(.disabled):active:focus, .btn-darkgreen:not(:disabled):not(.disabled).active:focus, .show > .btn-darkgreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 140, 90, 0.5);
}

.btn-outline-darkgreen {
  color: #0d1714;
  background-color: transparent;
  border-color: #0d1714;
}

.btn-outline-darkgreen:hover {
  color: #fff;
  background-color: #0d1714;
  border-color: #0d1714;
}

.btn-outline-darkgreen:focus, .btn-outline-darkgreen.focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 140, 90, 0.5);
}

.btn-outline-darkgreen.disabled, .btn-outline-darkgreen:disabled {
  color: #0d1714;
  background-color: transparent;
}

.btn-outline-darkgreen:not(:disabled):not(.disabled):active, .btn-outline-darkgreen:not(:disabled):not(.disabled).active, .show > .btn-outline-darkgreen.dropdown-toggle {
  color: #fff;
  background-color: #0d1714;
  border-color: #0d1714;
}

.btn-outline-darkgreen:not(:disabled):not(.disabled):active:focus, .btn-outline-darkgreen:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-darkgreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 140, 90, 0.5);
}




.list-group-item-darkgreen {
  color: #0d1714;
/*   background-color: #85e0b5; */
}

.list-group-item-darkgreen.list-group-item-action:hover, .list-group-item-darkgreen.list-group-item-action:focus {
  color: #0d1714;
/*   background-color: #71dba9; */
}

.list-group-item-darkgreen.list-group-item-action.active {
  color: #fff;
  background-color: #0d1714;
  border-color: #0d1714;
}



/* .dropdown {list-style: none; background: green; display: inline-block;}*/
.dropdown-item :hover{color:green; text-decoration: none;}
.dropdown .dropdown-menu a{color: #000; text-decoration: none;}
.dropdown .btn {background: green; color:#fff;}
.dropdown .btn:hover {background: #0d1714; color:#000;}
.dropdown .btn:active {background: #0d1714; color:#000;}
.dropdown .btn:focus {background: #0d1714; color:#000;}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}

.div.btn-group.show div.dropdown-menu.show button.dropdown-item:focus {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
  }
  