/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

/* 
.bg-success{
  background-color: blue;
} */


body{
  padding-top: 80px;

}

.bg-darkgreen{
  background-color: #006d77;
}

.bg-lightgreen{
  background-color: #EEFCF9;
}

.btn-lightgreen{
  background-color: #A8F0E0;
  border-color: #62E4C8

}

.font-bold{
  font-weight: 700;
}